
.indicator {
    width: 15px;height: 15px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    margin-left: 15px;
}

.is-running {
    background-color: #81C784;
    animation: pulse 1.5s infinite ease-in-out;
}

.is-down {
    background-color: #E57373;
    animation: shake 0.5s infinite ease-in-out;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); opacity: 1;}
    50% { transform: scale(1.3); opacity: 0.7;}
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-2px); }
    75% { transform: translateX(2px); }
}


/*
switcher from : https://codepen.io/marcusconnor/pen/QJNvMa
*/
#equipment-status .mid {
  display: flex;
  align-items: center;
  justify-content: center;
}

#equipment-status .rocker {
  display: inline-block;
  position: relative;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #eee;
}

#equipment-status .rocker-small {
  /* font-size: 0.75em; Sizes the switch */
  font-size: .9em;
  /*margin: 1em;*/
}

#equipment-status .rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #eee;
  border-bottom: 0;
}

#equipment-status .rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

#equipment-status .switch-left,
#equipment-status .switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

#equipment-status .switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

#equipment-status .switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

#equipment-status .switch-left::before,
#equipment-status .switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

#equipment-status .switch-left::before {
  left: -0.4em;
}

#equipment-status .switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

#equipment-status input:checked + .switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

#equipment-status input:checked + .switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

#equipment-status input:checked + .switch-left + .switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

#equipment-status input:checked + .switch-left + .switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
#equipment-status input:focus + .switch-left {
  color: #333;
}

#equipment-status input:checked:focus + .switch-left {
  color: #fff;
}

#equipment-status input:focus + .switch-left + .switch-right {
  color: #fff;
}

#equipment-status input:checked:focus + .switch-left + .switch-right {
  color: #333;
}

#equipment-status .o_field_boolean {
    margin-right: unset !important;
    max-width: unset !important;
    padding-right: unset !important;
}

#equipment-status .custom-control-label::before {
    display: unset !important;
    width: unset !important;
    height: unset !important;
}

#equipment-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
}

.equipment-dashboard > div {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  transition: transform 0.6s ease;
}

.equipment-dashboard > div:hover {
  transform: translateY(-5px);
  will-change: transform;
}


.ribbon.ribbon-top-right.o_widget {
  top:0 !important;
  margin-top: 0 !important;
}

.oe_button_box {
  padding-right: 150px !important;
}


/* Donut chart widget */

.o_donut_chart_widget {
    display: flex;
    justify-content: center;
    align-items: center;
}
.o_donut_chart_widget .percentage {
  margin: 0 8px ;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0 !important;
}

.donut-chart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(var(--info) calc(var(--percentage) * 1%), #efefef 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.donut-chart::before {
  content: "";
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  position: absolute;
}