///
/// Online Meetings view changes.
///

.acs_appointment label {
  cursor: pointer;
  filter: grayscale(100%);
  display: inline;
}

.acs_appointment label:hover {
  filter: grayscale(0);
}

.acs_appointment input[type="radio"]:checked + label {
  filter: grayscale(0);
}

.acs_radio_block label {
  cursor: pointer;
  filter: grayscale(100%);
}

.acs_radio_block label:hover {
  filter: grayscale(0);
}

.acs_radio_block input[type="radio"]:checked + label {
  filter: grayscale(0);
  border: 1px solid purple;
}

.acs_image {
  width: 155px;
  @media (max-width: 768px) {
    width: 30% !important;
  }
}

.acs_user_image {
    border-radius: 50%;
    width: 100%;
}

.acs_basic_info {
  max-height: 85px !important;
  overflow: hidden;
  text-overflow: ellipsis !important;
}

.acs_slot_date {
  font-size: 1.2em;
  padding: 10px 10px;
  text-align: center;
  margin-right: 20px;
  display: inline-block;
  border-radius: 5px;
  color: white;
}

.acs_active_slot {
  cursor: pointer;
  background-color: #137a87;
}

.acs_inactive_slot {
  cursor: default;
  background-color: #a2a2a2;
}

.acs_active {
  color: white;
  background-color: #68465f !important;
}

.acs_small_font {
  font-size: 0.8em;
}

.acs_hide {
  display: none;
}

.acs_gray_border {
  border: 1px solid lightgray;
}

.appoint_department_panel .appoint_person_panel {
  min-height: 85px !important;
}