.o_is_line_conlusion td.o_section_and_note_text_cell .o_field_text {
    font-style: normal !important; /* Ensures text is not italic */
    font-weight: bold !important; /* Makes the text bold */
    color: #197b94 !important; /* Sets the text color to blue */
  }

  .o_is_line_conlusion td.o_section_and_note_text_cell .o_field_text::before {
    content: "Conclusion: ";
    font-weight: bold; 
    color: black;
    margin-right: 5px; 
  }
  