.o_acs_dashboard_graph > .o_dashboard_graph.o_graph_barchart > svg {
  height: 200px;
  overflow: visible;
}
.o_acs_dashboard_graph > .o_dashboard_graph.o_graph_linechart > svg {
  height: 200px;
}
.o_acs_dashboard_graph > .o_dashboard_graph.o_graph_linechart > svg g.nv-x.nv-axis {
  transform: translateY(175px);
}

#acs_hms_dashboard {
  min-width: 99%;
  text-align: center;
  display: table-cell;
}

.acs_graph_linechart {
    display: block;
    height: 350px;
}