.o_standard_imm_footer {
    min-height: 400px;
    margin-top: 400px;
    .list-inline-item {
      white-space: nowrap;
    }
  }
  
  .o_report_layout_imm_standard {
    font-family: normal sans-serif;
    h2 {
      color: $o-default-report-primary-color;
    }
  
    #informations strong {
      color: $o-default-report-secondary-color;
    }
  
    #total strong {
      color: $o-default-report-primary-color;
    }
    table {
      border-collapse: collapse; /* Ensure borders are collapsed */
      font-family: normal sans-serif !important;
      thead {
        color: $o-default-report-secondary-color;
      }
      thead tr th {
        padding: 5px 35px !important;
        border: 2px solid black !important;
      }
    }

    tbody {
      tr td {
        border: none !important;
        padding: 5px 35px !important;
      }
      tr:last-child td {
        border-bottom: 2px solid black !important;
      }
      tr:first-child td {
        border-top: 2px solid black !important;
      }
    
      tr td:not(:last-child) {
        border-right: 2px solid black !important;
      }
    }
  }
  
  /*table {
    width: 100%;
    font-family: normal sans-serif;
    thead {
      color: $o-default-report-secondary-color;
    }
    thead tr th {
      padding: 5px 35px !important;
      border: 2px solid black !important;
    }
  }*/
  
  
  
  /*table {
    border-collapse: collapse; 
    border: 2px solid black; 
  }*/