
.o_mmtinv_footer, .o_mmtinv_header, .o_report_layout_mmtinv {
    color: #000;
}

.o_mmtinv_header img {
    max-height: 140px;
    max-width: 300px;
}

.o_mmtinv_footer {
    margin: 0 3px;
    margin-top: 200px;
    border-top: 3px solid #829baf;
    h4 {
        color: #829baf;
        font-weight: bolder;
    }
    .pagenumber {
        border: 3px solid #176882;
        background-color: #829baf;
        color: white;
        padding: 4px 8px;
        text-align: center;
    }
}

.o_report_layout_mmtinv {
    h1, h2, h3 {
        color: #176882;
        font-weight: bolder;
    }
    strong {
        color: #829baf;
    }
    table {
        &.o_main_table {
            margin-bottom: 0;
        }

        thead {
            color: #829baf;
            tr th {
                border-top: 3px solid #829baf !important;
                text-transform: uppercase;
            }
            tr th:first-child {
                width: 48%;
            }
        }
        tbody {
            color: #000;
            tr:first-child td {
                border-top: none;
            }
            tr:last-child td {
                border-bottom: 3px solid #829baf;
            }
            tr {
                td {
                    padding: 15px 5px;
                }
                td:last-child {
                }
            }
        }
    }
    #total {
        strong {
            color: #829baf;
        }
    }
    /*Total table*/
    /* compat 12.0 */
    .row:not(#total) > div:has(table) {
        top: -16px;
    }
    /* row col rule compat 12.0 */
    .row > div > table,
    div#total table {
        tr {
            &:first-child td,
            &.o_subtotal {
                border-top: none !important;
            }
            &:last-child td,
            &.o_total {
                border-top: 1px solid gray('200') !important;
            }
        }
    }
}
